{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="login">
	<div class="main-agileits">
		<div class="form-w3agile">
			<h3>Login</h3>
			<form method="post">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>//trans() -> translation
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

		    	<div class="key">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required>
					<div class="clearfix"></div>
				</div>
				<div class="key">
					<i class="fa fa-lock" aria-hidden="true"></i>
					<input type="password" name="password" id="inputPassword" placeholder="Contraseña" autocomplete="current-password" required>
					<div class="clearfix"></div>
				</div>
				<input type="submit" value="Login">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">                

			</form>
		</div>
		<div class="forg">
			<a href="#" class="forg-left">Forgot Password</a>
			<a href="/register" class="forg-right">Register</a>
		<div class="clearfix"></div>
	</div>
</div>



    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

{% endblock %}
