{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}    

    <div class="login">
	
		<div class="main-agileits">
			<div class="form-w3agile">
				<h3>Register</h3>
                {{ form_start(registrationForm) }}
				<form action="" method="post">
					<div class="key">
						<i class="fa fa-user" aria-hidden="true"></i>
						{{ form_row(registrationForm.nombre, {'attr':{'placeholder': 'Name'}}) }}
						
						<div class="clearfix"></div>
					</div>
					<div class="key">
						<i class="fa fa-user" aria-hidden="true"></i>
						{{ form_row(registrationForm.apellidos, {'attr':{'placeholder': 'Last Name'}}) }}
						
						<div class="clearfix"></div>
					</div>
					<div class="key">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						{{ form_row(registrationForm.email, {'attr':{'placeholder': 'Email'}}) }}
						
						<div class="clearfix"></div>
					</div>
					<div class="key">
						<i class="fa fa-lock" aria-hidden="true"></i>
							{{ form_row(registrationForm.plainPassword, {'attr':{'placeholder': 'Password'}}) }}	
							
							<div class="clearfix"></div>
					</div>
					<button type="submit" class="btn">Registrar</button>
					</form>
                    {{ form_end(registrationForm) }}
				</div>
			</div>
		</div>

{% endblock %}
